.dropdown {
  display: flex;
  flex-direction: column;
  padding: 3px 0 3px 0;
  position: absolute;
  width: 250px;
  height: 329px;
  right: 15px;
  top: 70px;
  background: $white;
  border: 1px solid $grey-3;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba($dark, 0.24);
  border-radius: 8px;
  cursor: pointer;
  &--title {
    color: $grey-6;
    padding: 0 15px 0 15px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
  }
  &__company {
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    flex: 1;
    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px 0 15px;
      height: 40px;
      font-weight: bolder;
      font-size: 16px;

      &:hover {
        background-color: $grey-1;
      }

      span {
        display: flex;
      }

      i {
        display: flex;
      }
    }
    &--icon {
      font-size: 16px;
      margin-right: 5px;
    }
  }

  &__item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 15px 0 15px;
    height: 40px;
    font-size: 16px;
    &:hover {
      background-color: $grey-1;
    }

    &--border {
      border: 1px solid $grey-3;
      height: 0;
      width: 100%;
    }

    &--icon {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
