.color-red {
  color: $red;
}

.selected-company {
  background-color: rgba($light-green, 0.1) !important;
  span,
  i {
    color: $dark-green;
    font-weight: bolder;
  }
  &:hover,
  &:focus {
    background-color: rgba($dark-green, 0.2) !important;
  }
}
